{% extends "MMITVBundle::backoffice.html.twig" %}


{% block title %}
    {{ parent() }} - Playlist
{% endblock %}

{% block custom_style %}
    {% stylesheets 'bundles/mmitv/css/playlists.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <!-- CONTENT------------------------------------------------- -->
    <div class="content">
        <h1>playlists</h1>
        <div class="hold">
            {% for entity in entities %}
                <!-- ITEM-->
                <div class="item">
                    <div class="before"></div>
                    <div class="number">
                        <a href="{{ path('playlist_show', { 'id': entity.id }) }}">
                            <p>
                                <span>{{ entity.nbrvideo }}</span><br>
                                vidéos<br>
                                <br>
                                {{ entity.duree|date('i:s') }} min
                            </p>
                        </a>
                    </div>
                    <div class="title">
                        <ul>
                            <li>{{ entity.nom }}</li>
                            <!-- Hamburger menu-->
                            <li>
                                <a href="">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul>
                                    <li><a href="{{ path('playlist_edit', { 'id': entity.id }) }}">Modifier</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}