{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/mmitv/fonts/font-awesome-4.4.0/css/font-awesome.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block custom_style %}{% endblock %}

{% endblock %}


{% block body %}
    {% block header %}
        <!-- HEADER------------------------------------------------- -->
        <header>
            <div class="logo">
                <a href=" {{ path('dashboard') }}">
                <h2>MMI TV</h2>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href=""><h3>Importer</h3></a></li>
                    <li>
                        <h3>Créer</h3>
                        <ul>
                            <li><a href="">Habillage TV</a></li>
                            <li><a href="{{ path('playlist_new') }}">Playlist</a></li>
                            <li><a href="">Émission WebTV</a></li>
                            <li><a href="">Production MMI</a></li>
                            <li><a href="">Tuto</a></li>
                        </ul>
                    </li>
                    <li><a href=""><h3>Supprimer</h3></a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path('fos_user_profile_show') }}"><h3>Utilisateurs</h3></a></li>
                    {% else %}

                    {% endif %}
                </ul>
            </nav>
            <div class="user">
                <i class="fa fa-user"></i>
                <h4>{{ app.user|capitalize }}</h4><br>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        Déconnexion
                    </a>

                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                       Connexion {#{{ 'layout.login'|trans({}, 'FOSUserBundle') }}#}
                    </a>
                {% endif %}
            </div>
        </header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <!-- FOOTER------------------------------------------------- -->
        <footer>
            <div class="footnav">
                <a href="">Importer</a>
                <a href="">Créer</a>
                <a href="">Supprimer</a>

            </div>
            <div class="footsubnav">
                <ul>
                    <li><a href="{{ path('direct') }}">Direct</a></li>
                    <li><a href="">Habillage</a></li>
                    <li><a href="">Web TV</a></li>
                    <li><a href="">Playlists</a></li>
                </ul>
                <ul>
                    <li><a href="">Tutos</a></li>
                    <li><a href="">Productions MMI</a></li>
                    <li><a href="">Agenda</a></li>
                    <li><a href="">Notice</a></li>
                </ul>
            </div>
            <div class="rs">
                <a href="http://twitter.com/MMI_Troyes">
                    <div class="footbutton">
                        <i class="fa fa-twitter"></i>
                    </div>
                </a>
                <a href="http://www.facebook.com/MMI-EXSRC-IUT-de-Troyes-261911857255843">
                    <div class="footbutton">
                        <i class="fa fa-facebook-f"></i>
                    </div>
                </a>
            </div>
        </footer>
    {% endblock %}



{% endblock %}